- var dwg = require("./data/dwg.json");
- var count = 0;

each game in dwg
  if (count < 11 || slug != 'index')
    .column.col-2.col-lg-3.col-xs-6
      a.card(href='https://microsoft.msafflnk.net/c/1272791/433017/7593?u='+game.url, title=game.url, target='_blank')
        .card-header
          img.game-card-cover.img-responsive(src=game.cover alt=game.title)
        .card-body
          .game-card-discount
            | #{game.discount}
          h3.game-card-title
            | #{game.title}
        .card-footer
          .game-card-newprice
            | #{game.newprice}
          .game-card-oriprice
            | #{game.oriprice}
  - count++;